<script>
    if (window.location.href.slice(0, 5) == "http:") {
        window.location.href = "https:" + window.location.href.slice(5);
    }
</script>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--meta name="google-signin-client_id" content="695627240347-5s6eroi3c7mihq82908943lg54h3ts8v.apps.googleusercontent.com" /!-->
        <meta name="google-signin-client_id" content="427382144896-9v7u2jk7k57nrqcme558lkm53nss1s1v.apps.googleusercontent.com" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" integrity="sha512-iqRVtNB+t9O+epcgUTIPF+nklypcR23H1yR1NFM9kffn6/iBhZ9bTB6oKLaGMv8JE9UgjcwfBFg/eHC/VMws+g==" crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>網站合集</title>
        <link rel="stylesheet" href="/web/styles.css" />
    </head>
    <body>
        
        </div>
    </body>
</html>

<script src="/web/banner.js"></script>
<script src="/web/login_interface.js"></script>
<script >
let PersonalData = {};
toFirstPage()
</script>
